# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = weibo.settings

[deploy:local]
url = http://localhost:6810/
project = weibopro

[deploy:rasberrypi]
url = http://192.168.50.4:6810/
project = weibopro

[deploy:android]
url = http://192.168.50.193:6810/
project = weibopro


